<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
        <span class="site-position">Member of Technical Staff 3 at Cohesity</span>
        <span class="site-qualification">IIT Roorkee CSE'22</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:apatil@cs.iitr.ac.in"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/abhishek_0706/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/abhishekpatil6"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/abhishek0706/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Abhishek0706"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a aria-label="View Resume" href="/abhishek_patil_resume.pdf" target="_blank" class="resume-link">
          <i class="fa fa-file-text-o" aria-hidden="true"></i> View Resume
        </a>
      </div>
  </div>
</div>
